/* grid */
.ivm-grid {
    margin-left:-20px;
}
.ivm-width {
    box-sizing:border-box;
    width:20%;
    float:left;
    padding:0px 0px 20px 20px;
}
.ivm-clearfix:before,
.ivm-clearfix:after {
    content:'';
    display:block;
    clear:both;
}

/* items */

.ivm-admin-item img {
    max-height:60px;
}

.ivm-admin-module {
    background: none;
    box-shadow:none;
    border:1px solid #ddd;
}
.ivm-control-panel.ivm-admin-module {
    border:none;
    margin-bottom:10px;
    padding:0px;
}

.ivm-admin-module .module-title.nav-header {
    font-size:16px;
    padding:0px;
    margin-bottom:20px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.ivm-control-panel.ivm-admin-module .module-title.nav-header {
    font-size:20px;
    margin-bottom:35px;
    display:none;
}
.ivm-control-panel.ivm-admin-module .module-title.nav-header.section-title {
    font-size:16px;
    margin:35px 0px;
}

.ivm-admin-item {
    display:block;
    position:relative;
    text-align:center;
    padding:20px 10px;
    border:1px solid #ddd;
}
.ivm-admin-item:focus,
.ivm-admin-item:hover {
    text-decoration:none;
    border:1px solid #ddd;
}
.ivm-admin-item h4 {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color:#666;
    font-weight:300;
    margin:0px;
    padding:0px;
    margin-top:10px;
}

.ivm-admin-item:after {
    content:'';
    display:none;
    position:absolute;
    top:-10px;
    right:-10px;
    width:30px;
    height:30px;
    border-radius:50%;
    background:#3d82f9 url(../img/eye.png) center center no-repeat;
    background-size:18px auto;
}
.ivm-admin-item:hover:after {
    display:block;
} 

/* tabs */

.nav-tabs > li > a {
    padding:10px 30px;
}
.nav.nav-tabs {
    margin-bottom:20px;
}

/* joomla */
.sidebar-nav.quick-icons {
    /*border-right:1px solid #ddd;*/
}

/* ========================================================
IVM Animation general
========================================================== */
.ivm-admin-item:after,
[class*='ivm-animation-'] {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Hide animated element if scrollspy is used */
@media screen {
  [data-uk-scrollspy*='ivm-animation-'] {
    opacity: 0;
  }
}

.ivm-admin-item:after,
.ivm-animation-bounce-in {
  -webkit-animation-name: ivm-bounce-in;
  animation-name: ivm-bounce-in;
}
@-webkit-keyframes ivm-bounce-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes ivm-bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}